@using yoklamaSDU.AppCode
@model CheckClass
@{
    ViewBag.Title = "ViewStudent";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<label>sa</label>

@Html.LabelFor(q=>q.NameSurname)
@Html.LabelFor(q => q.StudentNo)


