@using yoklamaSDU.ViewModels
@model LoginViewModel
<!DOCTYPE html>
<html lang="en">
<head>
    <title>Login V3</title>
    <meta charset="UTF-8">
    <link rel="icon" type="image/png" href="~/Content/Login/images/icons/favicon.ico" />
    <link rel="stylesheet" type="text/css" href="~/Content/Login/vendor/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="~/Content/Login/fonts/font-awesome-4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="~/Content/Login/fonts/iconic/css/material-design-iconic-font.min.css">
    <link rel="stylesheet" type="text/css" href="~/Content/Login/vendor/animate/animate.css">
    <link rel="stylesheet" type="text/css" href="~/Content/Login/vendor/css-hamburgers/hamburgers.min.css">
    <link rel="stylesheet" type="text/css" href="~/Content/Login/vendor/animsition/css/animsition.min.css">
    <link rel="stylesheet" type="text/css" href="~/Content/Login/vendor/select2/select2.min.css">
    <link rel="stylesheet" type="text/css" href="~/Content/Login/vendor/daterangepicker/daterangepicker.css">
    <link rel="stylesheet" type="text/css" href="~/Content/Login/css/util.css">
    <link rel="stylesheet" type="text/css" href="~/Content/Login/css/main.css">
    <link href="~/Content/toastr.css" rel="stylesheet" />
</head>
<body>
    <div class="limiter">
        <div class="container-login100" style="background-image: url('../../Content/img/sduarka.jpg');">
            <div class="wrap-login100">
                @using (Html.BeginForm("LoginUser", "Giris"))
                {

                    <span class="login100-form-logo">
                        <img src="~/Content/img/sdulogo.png" />
                    </span>
                    <span class="login100-form-title p-b-34 p-t-27">
                        YOKLAMA GİRİŞİ
                    </span>

                    <div class="wrap-input100 validate-input" data-validate="Lütfen bir öğrenci numarası giriniz.">
                        @Html.TextBoxFor(q=>q.UserName,new {@class="input100",@placeholder="Öğrenci Numarası" })
                        <span class="focus-input100" data-placeholder="&#xf207;"></span>
                    </div>
                    <div class="wrap-input100 validate-input" data-validate="Lütfen bir şifre giriniz.">
                        @Html.TextBoxFor(q => q.Password, new { @class = "input100",@type="password", @placeholder = "Şifre" })
                        <span class="focus-input100" data-placeholder="&#xf191;"></span>
                    </div>
                    <div class="container-login100-form-btn btn-block">
                        <button id="giris" class="login100-form-btn">
                            Giriş
                        </button>
                    </div>
                }


            </div>
        </div>
    </div>


    <div id="dropDownSelect1"></div>

    <!--===============================================================================================-->
    <script src="~/Content/Login/vendor/jquery/jquery-3.2.1.min.js"></script>
    <!--===============================================================================================-->
    <script src="~/Content/Login/vendor/animsition/js/animsition.min.js"></script>
    <!--===============================================================================================-->
    <script src="~/Content/Login/vendor/bootstrap/js/popper.js"></script>
    <script src="~/Content/Login/vendor/bootstrap/js/bootstrap.min.js"></script>
    <!--===============================================================================================-->
    <script src="~/Content/Login/vendor/select2/select2.min.js"></script>
    <!--===============================================================================================-->
    <script src="~/Content/Login/vendor/daterangepicker/moment.min.js"></script>
    <script src="~/Content/Login/vendor/daterangepicker/daterangepicker.js"></script>
    <!--===============================================================================================-->
    <script src="~/Content/Login/vendor/countdowntime/countdowntime.js"></script>
    <!--===============================================================================================-->
    <script src="~/Content/Login/js/main.js"></script>
    <script src="~/scripts/toastr.js"></script>

    @if (Session["LoginUser"] != null && (string)Session["LoginUser"] == "Error")
    {
        <script type="text/javascript">
        $(document).ready(function () {
            toastr.error("Girilen kullanıcı adı yada şifre hatalı.", "Giriş Hatası");
        })
        </script>
    }
</body>
</html>